<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdingcatering.mapper.user.AddressBookMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO address_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!-- 必填字段：始终插入 -->
            user_id,
            consignee,
            phone,
            detail,
            <!-- 可选字段：非空时才插入 -->
            <if test="sex != null and sex != ''">sex,</if>
            <if test="provinceCode != null and provinceCode != ''">province_code,</if>
            <if test="provinceName != null and provinceName != ''">province_name,</if>
            <if test="cityCode != null and cityCode != ''">city_code,</if>
            <if test="cityName != null and cityName != ''">city_name,</if>
            <if test="districtCode != null and districtCode != ''">district_code,</if>
            <if test="districtName != null and districtName != ''">district_name,</if>
            <if test="label != null and label != ''">label,</if>
            <if test="isDefault != null">is_default,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <!-- 必填字段值 -->
            #{userId},
            #{consignee},
            #{phone},
            #{detail},
            <!-- 可选字段值 -->
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="provinceCode != null and provinceCode != ''">#{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">#{provinceName},</if>
            <if test="cityCode != null and cityCode != ''">#{cityCode},</if>
            <if test="cityName != null and cityName != ''">#{cityName},</if>
            <if test="districtCode != null and districtCode != ''">#{districtCode},</if>
            <if test="districtName != null and districtName != ''">#{districtName},</if>
            <if test="label != null and label != ''">#{label},</if>
            <if test="isDefault != null">#{isDefault},</if>
        </trim>
    </insert>

    <update id="updateAddressBook">
        UPDATE address_book
        <set>
            <!-- 可选字段：非空时才更新 -->
            <if test="consignee != null and consignee != ''">consignee = #{consignee},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="provinceCode != null and provinceCode != ''">province_code = #{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">province_name = #{provinceName},</if>
            <if test="cityCode != null and cityCode != ''">city_code = #{cityCode},</if>
            <if test="cityName != null and cityName != ''">city_name = #{cityName},</if>
            <if test="districtCode != null and districtCode != ''">district_code = #{districtCode},</if>
            <if test="districtName != null and districtName != ''">district_name = #{districtName},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="label != null and label != ''">label = #{label},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
        </set>
        WHERE id = #{id}
          AND user_id = #{userId}
    </update>

    <!-- 设置指定地址为默认地址（注意：调用前应先调用 clearDefaultByUserId 清除旧默认） -->
    <update id="setDefaultAddressBook">
        UPDATE address_book
        SET is_default = 1
        WHERE user_id = #{userId}
          AND id = #{id}
    </update>

    <!-- 清除用户所有地址的默认标记（设置为非默认） -->
    <update id="clearDefaultByUserId">
        UPDATE address_book
        SET is_default = 0
        WHERE user_id = #{userId}
          AND is_default = 1
    </update>

    <delete id="delete">
        DELETE
        FROM address_book
        WHERE id = #{id}
          AND user_id = #{userId}
    </delete>

    <select id="list" resultType="com.dingdingcatering.entity.AddressBook">
        SELECT *
        FROM address_book
        WHERE user_id = #{userId}
    </select>

    <select id="defaultAddressBook" resultType="com.dingdingcatering.entity.AddressBook">
        SELECT *
        FROM address_book
        WHERE user_id = #{userId}
          AND is_default = 1
    </select>

    <select id="selectById" resultType="com.dingdingcatering.entity.AddressBook">
        SELECT *
        FROM address_book
        WHERE id = #{id}
          AND user_id = #{userId}
    </select>
    <select id="getUserId" resultType="java.lang.Long">
        SELECT user_id
        FROM address_book
        WHERE id = #{id}
    </select>
</mapper>
