<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdingcatering.mapper.user.SetMealMapper">
    <select id="list" resultType="com.dingdingcatering.entity.Setmeal">
        select *
        from setmeal
        where category_id = #{categoryId}
    </select>
    <select id="dish" resultType="com.dingdingcatering.vo.DishItemVO">
        SELECT sd.copies,
               d.name,
               d.image,
               d.description
        FROM setmeal_dish sd
                 INNER JOIN dish d ON sd.dish_id = d.id
        WHERE sd.setmeal_id = #{id}
    </select>

    <select id="getById" resultType="com.dingdingcatering.entity.Setmeal">
        SELECT id, category_id, name, price, status, description, image,
               create_time, update_time, create_user, update_user
        FROM setmeal
        WHERE id = #{id}
    </select>
</mapper>
