<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdingcatering.mapper.user.UserMapper">
    <insert id="createUser"  useGeneratedKeys="true" keyProperty="id" >
        insert into user (openid, name, phone, sex, id_number, avatar, create_time)
        values (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, now())
    </insert>

    <select id="login" resultType="com.dingdingcatering.entity.User">
        select *
        from user
        where openid = #{openid}
    </select>

    <select id="getById" resultType="com.dingdingcatering.entity.User">
        select *
        from user
        where id = #{id}
          and openid = #{openid}
    </select>
</mapper>
