<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdingcatering.mapper.admin.WorkspaceMapper">

    <select id="getBusinessData" resultType="com.dingdingcatering.vo.BusinessDataVO">
        SELECT IFNULL(SUM(o.status = ${@com.dingdingcatering.entity.Orders@COMPLETED}),
                      0)                                                       AS turnover,
               IFNULL(SUM(o.status = ${@com.dingdingcatering.entity.Orders@COMPLETED}),
                      0)                                                       AS validOrderCount,
               IFNULL(
                       IF(COUNT(o.id) = 0, 0,
                          ROUND(SUM(o.status = ${@com.dingdingcatering.entity.Orders@COMPLETED}) *
                                100.0 / COUNT(o.id), 2)),
                       0)                                                      AS orderCompletionRate,
               IFNULL(
                       IF(SUM(o.status = ${@com.dingdingcatering.entity.Orders@COMPLETED}) = 0, 0,
                          ROUND(SUM(o.status = ${@com.dingdingcatering.entity.Orders@COMPLETED})
                                    / SUM(o.status = ${@com.dingdingcatering.entity.Orders@COMPLETED}),
                                2)),
                       0)                                                      AS unitPrice,
               (SELECT COUNT(*) FROM user WHERE DATE(create_time) = CURDATE()) AS newUsers
        FROM orders o
        WHERE DATE(o.order_time) = CURDATE();
    </select>
    <select id="getOverviewSetmeal" resultType="com.dingdingcatering.vo.SetMealOverViewVO">
        SELECT SUM(status = ${@com.dingdingcatering.constant.StatusConstant@ENABLE}) AS sold,
               SUM(status = ${@com.dingdingcatering.constant.StatusConstant@DISABLE}) AS discontinued
        FROM setmeal;
    </select>
    <select id="getOverviewDishes" resultType="com.dingdingcatering.vo.DishOverViewVO">
        SELECT SUM(status = ${@com.dingdingcatering.constant.StatusConstant@ENABLE}) AS sold,
               SUM(status = ${@com.dingdingcatering.constant.StatusConstant@DISABLE}) AS discontinued
        FROM dish;
    </select>
    <select id="getOverviewOrders" resultType="com.dingdingcatering.vo.OrderOverViewVO">
        SELECT SUM(status = ${@com.dingdingcatering.entity.Orders@TO_BE_CONFIRMED}) AS waitingOrders,
               SUM(status = ${@com.dingdingcatering.entity.Orders@CONFIRMED})       AS deliveredOrders,
               SUM(status = ${@com.dingdingcatering.entity.Orders@COMPLETED})       AS completedOrders,
               SUM(status = ${@com.dingdingcatering.entity.Orders@CANCELLED})       AS cancelledOrders,
               COUNT(*)                                                                            AS allOrders
        FROM orders;
    </select>
</mapper>
