<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.admin.SetMealMapper">
    <resultMap id="setMealResultMap" type="com.sky.vo.SetMealVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="image" property="image"/>
        <result column="update_time" property="updateTime"/>
        <result column="category_name" property="categoryName"/>
        <result column="status" property="status"/>
        <collection property="setmealDishes" ofType="com.sky.entity.SetMealDish">
            <id column="setmeal_dish_id" property="id"/>
            <result column="setmeal_id" property="setmealId"/>
            <result column="dish_id" property="dishId"/>
            <result column="dish_name" property="name"/>
            <result column="dish_price" property="price"/>
            <result column="copies" property="copies"/>
        </collection>
    </resultMap>
    <insert id="addSetMeal" parameterType="com.sky.entity.Setmeal" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal (category_id, name, price, description, image, create_time, update_time, create_user,
                             update_user)
        values (#{categoryId}, #{name}, #{price}, #{description}, #{image}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>
    <insert id="addSetMealDishes" parameterType="java.util.List">
        insert into setmeal_dish (setmeal_id,dish_id, name, price,copies) values
        <foreach collection="setMealDishes" item="dish" separator=",">
            (#{dish.setmealId}, #{dish.dishId}, #{dish.name}, #{dish.price}, #{dish.copies})
        </foreach>
    </insert>
    <update id="updateStatus">
        update setmeal
        set status=#{status},
            update_time=NOW(),
            update_user=${@com.sky.context.BaseContext@getCurrentId()}
        where id = #{id}
    </update>
    <update id="updateSetMeal" parameterType="com.sky.entity.Setmeal">
        update setmeal
        <set>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="image!=null">image=#{image},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="status!=null">status=#{status},</if>
            update_time=#{updateTime},update_user=#{updateUser}
        </set>
        where id = #{id}
    </update>
    <delete id="deleteSetMealDishes" parameterType="java.util.List">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteSetMeal" parameterType="java.util.List">
        delete from setmeal where id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.SetMealVO">
        select s.id,s.category_id,s.name,s.price,s.status,s.description,s.image,s.update_time,c.name as categoryName
        from setmeal s left
        join category c on c.id = s.category_id
        <where>
            <if test="name!=null and name!=''">and s.name like concat('%',#{name},'%')</if>
            <if test="status!=null">and s.status=#{status}</if>
            <if test="categoryId!=null">and s.category_id =#{categoryId}</if>
        </where>
        order by s.update_time desc
    </select>
    <select id="getSetMealById" resultMap="setMealResultMap">
        select s.id,
               s.category_id,
               s.name,
               s.price,
               s.description,
               s.image,
               s.update_time,
               c.name   as category_name,
               s.status,
               sd.id    as setmeal_dish_id,
               sd.setmeal_id,
               sd.dish_id,
               sd.name  as dish_name,
               sd.price as dish_price,
               sd.copies
        from setmeal s
                 left join setmeal_dish sd on sd.setmeal_id = s.id
                 left join category c on c.id = s.category_id
        where s.id = #{id}
        order by sd.id
    </select>
    <select id="queryByCategoryId" resultType="java.lang.Integer">
        select count(*)
        from setmeal
        where category_id = #{categoryId}
    </select>
    <select id="queryDishesId" resultType="java.lang.Long">
        select dish_id
        from setmeal_dish
        where setmeal_id = #{id};
    </select>
    <select id="queryStatusByIds" resultType="java.lang.String">
        select s.name from setmeal s where s.id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = ${@com.sky.constant.StatusConstant@ENABLE}
    </select>

</mapper>
